body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #009FFF, #EC2F4B, #8789C0, #45F0DF, #111D4A);
  background-size: 500%; 
  animation: background-img-animation 20s alternate infinite;
}

@keyframes background-img-animation {
  0% {
    background-position: left
  }
  100% {
    background-position: right
  }

@tailwind base;
@tailwind components;
@tailwind utilities;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

